<div class="row">
    <div class="col-sm-12 jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4"><%= @username %></h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
    
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card card-default">
            <div class="card-body">
              <p>Profile</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
      <%= render '/components/post_form' %>
      
      <% for @p in @posts %>
        <div class="card card-default">
            <div class="card-body">
              <p><%= @p.content %></p>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3">
        <div class="card card-default">
            <div class="card-body">
              <p>Who is your follow</p>
            </div>
        </div>
        <br>
        <div class="card card-default">
            <div class="card-body">
              <p>Trends</p>
            </div>
        </div>
    </div>
</div>