<div class="col-sm-12">
    <div class="footer">
      <p class="footer-links">
        About&ensp;  Help&ensp;  Center&ensp;  Blog&ensp;  Status&ensp;  Jobs&ensp;  TermsPrivacy&ensp;  Policy&ensp;  Info&ensp;  Brand&ensp;  Apps&ensp;  Advertise&ensp;   Business&ensp;  © 2018 Andy
      </p>
    </div>
</div>